/* style001.qss */

QWidget {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: sans-serif;
}
QScrollArea {
    border: none;
    background-color: transparent;
}
QScrollBar:vertical {
    background: rgb(20, 20, 20);
    width: 8px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background: rgb(80, 80, 80);
    border-radius: 4px;
    min-height: 20px;
}
QScrollBar::handle:vertical:hover {
    background: rgb(120, 120, 120);
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

QPushButton {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent; /* Forces Qt to drop the default 3D button look */
    text-align: left;
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton:hover {
    border: 1px solid rgb(0, 255, 255);
    /*color: rgb(0, 255, 255);*/
    background-color: rgb(40, 40, 40); /* Adds a slight highlight behind the text */
}

QPushButton:pressed {
    /*border: 1px solid rgb(255, 170, 0);*/
    color: rgb(255, 0, 255);
}

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

